#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  
}

.App {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  border: 1px solid black;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

form {
  width: 70%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

form textarea {
  border: 1px solid #e95823;
  border-radius: 5px;
  height: 75%;
}

form textarea[placeholder] {
  font-size: 15px;
}

.resultado {
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
  width: 80%;
  word-wrap: break-word;
}

.resultText {
  text-align: justify;
}
